<div class="main-wrapper">
  <!-- Start Titulo vista -->
  <div class="row">
    <div class="col-xs-12">
      <div class="table-item">
        <div class="title">
          <h2>Prestadores</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- End Titulo vista -->
  <hr>

  <!-- Start Autocomplete Disabled -->
  <div class="row wrapper">
    <div class="col-xs-4">
      <strong class="control-label">Filial</strong>
      <div class="input-group">
        <input type="search" class="form-control" disabled>
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
  <!-- End Autocomplete Disabled -->

  <!-- Start Autocomplete -->
    <div class="col-xs-4">
      <strong class="control-label">Especialidad</strong>
      <div class="input-group">
        <input type="search" class="form-control">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>

    <div class="col-xs-4">
    </div>
  </div>
  <!-- End Autocomplete -->

  <!-- Start Input type text -->
  <div class="row wrapper">
    <div class="col-xs-4">
      <strong class="control-label">Codigo Prestador</strong>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ejemplo">
      </div>
    </div>
    <div class="col-xs-4">
      <strong class="control-label">Nombre Prestador</strong>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ejemplo">
      </div>
    </div>
    <div class="col-xs-4">
    </div>
  </div>
  <!-- End Input type text -->

  <div class="row wrapper">
    <div class="col-xs-4">
      <strong class="control-label">Bloqueo</strong>
      <select class="form-control">
        <option value="0">Activos</option>
        <option value="1">Bloqueado</option>
      </select>
    </div>
    <div class="col-xs-4">
      <strong class="control-label">Publica Turnos Online</strong>
      <select class="form-control">
        <option value="0">Publica Turnos Online</option>
        <option value="1">No Publica Turnos Online</option>
      </select>
    </div>
    <div class="col-xs-4">
    </div>
  </div>

  <div class="wrapper">
    <button class="btn btn-default btn-sm" type="submit" name="button">Buscar</button>
  </div>

  <div class="wrapper">
    <table class="table">
        <thead>
          <tr>
            <td>Dr. Marcelo Lopez</td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="publicar" data-toggle="popover" data-content="Publicar" data-trigger="hover" data-placement="top" data-original-title="" title=""></a>&nbsp;
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="bloqueado" data-toggle="popover" data-content="Bloquear" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="exportar" data-toggle="popover" data-content="Exportar listado de pacientes" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="#envio_por_mail" class="enviar" data-toggle="popover" data-content="Enviar listado de pacientes por email" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dr.Herbert West</td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="publicar" data-toggle="popover" data-content="Publicar" data-trigger="hover" data-placement="top" data-original-title="" title=""></a>&nbsp;
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="bloqueado" data-toggle="popover" data-content="Bloquear" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="exportar" data-toggle="popover" data-content="Exportar listado de pacientes" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="#envio_por_mail" class="enviar" data-toggle="popover" data-content="Enviar listado de pacientes por email" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
          </tr>
          <tr>
            <td>Dr. John H. Watson</td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="publicar" data-toggle="popover" data-content="Publicar" data-trigger="hover" data-placement="top" data-original-title="" title=""></a>&nbsp;
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="bloqueado" data-toggle="popover" data-content="Bloquear" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="exportar" data-toggle="popover" data-content="Exportar listado de pacientes" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="#envio_por_mail" class="enviar" data-toggle="popover" data-content="Enviar listado de pacientes por email" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
          </tr>
          <tr>
            <td>Dr. Emmet Brown</td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="publicar" data-toggle="popover" data-content="Publicar" data-trigger="hover" data-placement="top" data-original-title="" title=""></a>&nbsp;
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="bloqueado" data-toggle="popover" data-content="Bloquear" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="exportar" data-toggle="popover" data-content="Exportar listado de pacientes" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="#envio_por_mail" class="enviar" data-toggle="popover" data-content="Enviar listado de pacientes por email" data-trigger="hover" data-placement="top" data-original-title="" title="">&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

</div>
