<div class="main-wrapper" ng-controller="faqControllerEditar as edfaqctrl">
  <!-- Start Pregunta vista -->
  <div class="row">
    <div class="col-xs-12">
      <div class="table-item">
        <div class="title">
          <h2>Preguntas frecuentes (FAQ)</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- End Pregunta vista -->
  <hr>
  <!-- Start Select -->
  <div class="row wrapper">
    <div class="col-xs-12" ng-repeat="item in edfaqctrl.original">
      <strong class="control-label" ng-bind="item.pregunta" ng-show="!edfaqctrl.guardar"></strong>
      <p ng-bind="item.texto" ng-show="!edfaqctrl.guardar"></p>
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group" ng-show="edfaqctrl.guardar">
            <input type="text" class="form-control" ng-model="item.pregunta">
            <textarea class="form-control" ng-model="item.texto" rows="5"></textarea>
          </div>
        </div>
      </div>
      <button class="btn btn-default btn-sm" type="button" name="button" ng-click="edfaqctrl.editarPregunta()" ng-show="!edfaqctrl.guardar">Editar</button>
      <button class="btn btn-default btn-sm" type="button" name="button" ng-click="edfaqctrl.guardarPregunta()" ng-show="edfaqctrl.guardar">Guardar</button>
      <button class="btn btn-default btn-sm" type="button" name="button">Eliminar</button>
      <button class="btn btn-default btn-sm" type="button" name="button">Habilitar</button>
      <hr>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#agregarTopico" aria-expanded="false" aria-controls="collapseExample">Agregar Tópico</button>
    </div>
    <div class="collapse" id="agregarPregunta">
      <div class="col-xs-4">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Nuevo tópico" ng-model="edfaqctrl.newItem.pregunta">
          <span class="has-error" ng-if="edfaqctrl.errorMensaje">El tópico no debe estar vacío</span>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <button class="btn btn-default btn-sm" type="button" name="button" ng-click="edfaqctrl.agregarTopico(edfaqctrl.newItem)">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>
