<div class="main-wrapper">

  <!-- Start Titulo vista -->
  <div class="row">
    <div class="col-xs-12">
      <div class="table-item">
        <div class="title">
          <h2>Descarga</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- End Titulo vista -->
  <!-- Start Lista Checkbox -->
  <div class="row wrapper">
    <div class="col-xs-12">
      <strong class="control-label">Dr. Emmet Brown</strong>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <ul class="list-unstyled">
          <li>
            <input type="checkbox" name="Especialidad1" id="Especialidad1">
            <label for="Especialidad1">Agenda</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <ul class="list-unstyled">
          <li>
            <input type="checkbox" name="Especialidad5" id="Especialidad5">
            <label for="Especialidad5">Pacientes</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Lista Checkbox -->
  <div class="row wrapper">
    <div class="col-xs-4">
      <strong class="control-label">Agendas</strong>
      <select class="form-control">
        <option value="0">Todas</option>
        <option value="1">Sarmiento 1562, Buenos Aires</option>
        <option value="2">Paraguay 2068, Buenos aires</option>
      </select>
    </div>
    <div class="col-xs-4">
      <strong class="control-label">Período</strong>
      <select class="form-control">
        <option value="0">Hoy</option>
        <option value="1">A futuro</option>
        <option value="2">Completa</option>
      </select>
    </div>
    <div class="col-xs-4">
    </div>
  </div>
  <div class="wrapper">
    <button class="btn btn-default btn-sm" type="submit" name="button">Descargar</button>
  </div>
