<div class="main-wrapper">
  <!-- Start Titulo vista -->
  <div class="row">
    <div class="col-xs-12">
      <div class="table-item">
        <div class="title">
          <h2>Backofice de Turnos online</h2>
        </div>
        <button class="btn btn-default btn-sm" type="submit" name="button">Button type Submit</button>
      </div>
    </div>
  </div>
  <!-- End Titulo vista -->
  <hr>
  <!-- Start Select -->
  <div class="row wrapper">
    <div class="col-xs-4">
      <strong class="control-label">Ejemplo Select</strong>
      <select class="form-control">
        <option value="0">Seleccionar</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
  <!-- End Select -->

  <!-- Start Select -->
  <div class="row wrapper">
    <div class="col-xs-12">
      <strong class="control-label">Ejemplo Select con botón</strong>
      <div class="row">
        <div class="col-xs-4">
          <select class="form-control">
            <option value="0">Seleccionar</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-default btn-sm" type="submit" name="button">Ejemplo Button type Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Select -->

  <!-- Start Input type search -->
  <div class="row wrapper">
    <div class="col-xs-4">
      <strong class="control-label">Ejemplo Input type search</strong>
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Ejemplo">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
  </div>
  <!-- End Input type search -->

  <!-- Start Input type search con boton-->
  <div class="row wrapper">
    <div class="col-xs-12">
      <strong class="control-label">Ejemplo Input type search con botón</strong>
      <div class="row">
        <div class="col-xs-4">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="Ejemplo">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-default btn-sm" type="submit" name="button">Ejemplo Button type Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Input type search con boton-->

  <!-- Start Input type text -->
  <div class="row wrapper">
    <div class="col-xs-4">
      <strong class="control-label">Ejemplo Input type text</strong>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ejemplo">
      </div>
    </div>
  </div>
  <!-- End Input type text -->

  <!-- Start Input type text con boton-->
  <div class="row wrapper">
    <div class="col-xs-12">
      <strong class="control-label">Ejemplo Input type text con botón</strong>
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Ejemplo">
          </div>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-default btn-sm" type="submit" name="button">Ejemplo Button type Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Input type text con boton-->

  <!-- Start Link -->
  <div class="row wrapper">
    <div class="col-xs-12">
      <strong class="control-label">Ejemplo de link</strong>
    </div>
    <div class="col-xs-4">
      <a class="link" href="javascript:void(0)">link a ninguna parte</a>
    </div>
  </div>
  <!-- Start Link -->

  <!-- Start Link -->
  <div class="row wrapper">
    <div class="col-xs-12">
      <strong class="control-label">Ejemplo lista de links</strong>
    </div>
    <div class="col-xs-4">
      <ul class="list-unstyled">
        <li>
          <a class="link" href="javascript:void(0)">link a ninguna parte</a>
        </li>
        <li>
          <a class="link" href="javascript:void(0)">link a ninguna parte</a>
        </li>
        <li>
          <a class="link" href="javascript:void(0)">link a ninguna parte</a>
        </li>
        <li>
          <a class="link" href="javascript:void(0)">link a ninguna parte</a>
        </li>
        <li>
          <a class="link" href="javascript:void(0)">link a ninguna parte</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Start Link -->

  <!-- Start Boton Type submit -->
  <div class="row wrapper">
    <div class="col-xs-4">
      <button class="btn btn-default btn-sm" type="submit" name="button">Ejemplo Button type Submit</button>
    </div>
  </div>
  <!-- End Boton Type submit -->

  <!-- Start Tabla Resultados-->
  <div class="row wrapper">
    <div class="col-xs-6">
      <table class="table">
        <thead>
          <tr>
            <th>Metropolitana 60</th>
            <th class="icon-container">
              <a href="javascript:void(0)" class="editar" data-toggle="popover" data-content="Editar" data-trigger="hover" data-placement="top" data-toggle="popover" data-content="Editar" data-trigger="hover" data-placement="top">&nbsp;</a>
            </th>
            <th class="icon-container">
              <a href="javascript:void(0)" class="eliminar" data-toggle="popover" data-content="Eliminar" data-trigger="hover" data-placement="top">&nbsp;</a>
            </th>
            <th class="icon-container">
              <a href="javascript:void(0)" class="publicar" data-toggle="popover" data-content="Publicar" data-trigger="hover" data-placement="top"></a>&nbsp;
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cardiología</td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="editar" data-toggle="popover" data-content="Editar" data-trigger="hover" data-placement="top">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="eliminar" data-toggle="popover" data-content="Eliminar" data-trigger="hover" data-placement="top">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="publicar" data-toggle="popover" data-content="Publicar" data-trigger="hover" data-placement="top"></a>&nbsp;
            </td>
          </tr>
          <tr>
            <td>Oftalmología</td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="editar" data-toggle="popover" data-content="Editar" data-trigger="hover" data-placement="top">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="eliminar" data-toggle="popover" data-content="Eliminar" data-trigger="hover" data-placement="top">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="publicar" data-toggle="popover" data-content="Publicar" data-trigger="hover" data-placement="top"></a>&nbsp;
            </td>
          </tr>
          <tr>
            <td>Oncología</td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="editar" data-toggle="popover" data-content="Editar" data-trigger="hover" data-placement="top">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="eliminar" data-toggle="popover" data-content="Eliminar" data-trigger="hover" data-placement="top">&nbsp;</a>
            </td>
            <td class="icon-container">
              <a href="javascript:void(0)" class="publicar" data-toggle="popover" data-content="Publicar" data-trigger="hover" data-placement="top"></a>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- End Tabla Resultados-->
  <hr>
  <!-- Start Boton Modal -->
  <div class="row wrapper">
    <div class="col-xs-4">
      <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Modal ejemplo</button>
    </div>
  </div>
  <!-- End Boton Modal -->

  <!-- Start Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
        </div>
        <div class="modal-body">
          <p>¿Está seguro que desea eliminar esta filial y todas sus especiaidades?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-default btn-sm">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
  <!--End modal -->
  <hr>
  <!-- Start Autocomplete-->
  <div class="row wrapper">
    <div class="col-xs-4">
      <strong class="control-label">Ejemplo Autocomplete</strong>
      <div class="input-group">
        <input type="search" class="form-control">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
  </div>
  <!-- End Autocomplete -->

  <!-- Start Autocomplete Disabled -->
  <div class="row wrapper">
    <div class="col-xs-4">
      <strong class="control-label">Ejemplo Autocomplete Disabled</strong>
      <div class="input-group">
        <input type="search" class="form-control" disabled>
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
  </div>
  <!-- End Autocomplete Disabled -->

  <!-- Start Autocomplete Displayed -->
  <div class="row wrapper">
    <div class="col-xs-4">
      <strong class="control-label">Ejemplo Autocomplete Displayed</strong>
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Ejemplo">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
      <span class="suggestion">Ejemplo</span>
    </div>
  </div>
  <!-- End Autocomplete Displayed -->
  <hr>
  <!-- Start Lista Checkbox -->
  <div class="row wrapper">
    <div class="col-xs-12">
      <strong class="control-label">Ejemplo lista</strong>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <ul class="list-unstyled">
          <li>
            <input type="checkbox" name="Especialidad1" id="Especialidad1">
            <label for="Especialidad1">Especialidad1</label>
          </li>
          <li>
            <input type="checkbox" name="Especialidad2" id="Especialidad2">
            <label for="Especialidad2">Especialidad2</label>
          </li>
          <li>
            <input type="checkbox" name="Especialidad3" id="Especialidad3">
            <label for="Especialidad3">Especialidad3</label>
          </li>
          <li>
            <input type="checkbox" name="Especialidad4" id="Especialidad4">
            <label for="Especialidad4">Especialidad4</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <ul class="list-unstyled">
          <li>
            <input type="checkbox" name="Especialidad5" id="Especialidad5">
            <label for="Especialidad5">Especialidad5</label>
          </li>
          <li>
            <input type="checkbox" name="Especialidad6" id="Especialidad6">
            <label for="Especialidad6">Especialidad6</label>
          </li>
          <li>
            <input type="checkbox" name="Especialidad7" id="Especialidad7">
            <label for="Especialidad7">Especialidad7</label>
          </li>
          <li>
            <input type="checkbox" name="Especialidad8" id="Especialidad8">
            <label for="Especialidad8">Especialidad8</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <ul class="list-unstyled">
          <li>
            <input type="checkbox" name="Especialidad9" id="Especialidad9">
            <label for="Especialidad9">Especialidad9</label>
          </li>
          <li>
            <input type="checkbox" name="Especialidad10" id="Especialidad10">
            <label for="Especialidad10">Especialidad10</label>
          </li>
          <li>
            <input type="checkbox" name="Especialidad11" id="Especialidad11">
            <label for="Especialidad11">Especialidad11</label>
          </li>
          <li>
            <input type="checkbox" name="Especialidad12" id="Especialidad12">
            <label for="Especialidad12">Especialidad12</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row wrapper">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-3">
          <strong class="control-label">Seleccionadas</strong>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <input type="checkbox" name="selecionarTodas" id="selecionarTodas">
            <label for="selecionarTodas">Seleccionar todas</label>
          </div>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default btn-sm">Eliminar seleccionadas</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Lista Checkbox -->
</div>
